@charset "UTF-8";

body {
font-family: sans-serif;
}

.main {
    padding: 0.5em 1em;
    margin: 2em 0;
 
    color: #696969;
    /*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}

.main p {
    margin: 0;
    padding: 0;
}

h1 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 1px #6091d3;
    padding: 0.2em 0.5em;
    color: #454545;
}

.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #6091d3;
    border: solid 2px #6091d3;
    border-radius: 3px;
    transition: .4s;
}

.btn-flat-border:hover {
    background: #6091d3;
    color: white;
}
h2 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

.under {
    color: #494949;/*文字色*/
}

.renraku-box {
    position: relative;
    margin: 2em 0;
    padding: 1em 0 1em 1em;
    border: solid 3px #6091d3;
    border-radius: 5px;
}
.renraku-box .box-title {
    position: absolute;
    display: inline-block;
    top: -24px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #6091d3;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
}
.renraku-box p {
    margin: 0; 
    padding: 0;
}
.btn{
    text-align: center;
}